<img id="fotoProducto" src="{{producto?.fotoUrl}}" alt="{{producto?.nombre}}">
<div class="margen-chico">
  <ul>
    <span>Ingredientes: </span>
    <li *ngFor="let ingrediente of producto?.ingredientes">{{ingrediente}}</li>
  </ul>
  <div>
    <div class="apto-container" *ngIf="producto?.esCeliaco">
      <img src="assets/icons/celiaco.png" alt="Apto celiaco">
      <p>Apto celiaco</p>
    </div>
    <div class="apto-container" *ngIf="producto?.esVegano">
      <img src="assets/icons/vegano.svg" alt="Apto vegano">
      <p>Apto vegano</p>
    </div>
  </div>
  <label for="notas">Notas: </label>
  <textarea name="notas" id="notas" cols="30" rows="10" [(ngModel)]="notas"></textarea>
  <div id="cantidadContainer">
    <label>Cantidad: </label>
    <app-contador-cantidad (cantidadCambiada)="cantidad.set($event)"/>
  </div>

  <button (click)="agregarAlCarrito()">Agregar al carrito</button>

</div>
